.task-state .task-priority {

}
.btn-search{
    max-height: 45px;
    background-color: #aabcd1;
    color: white;
}
.input-search{
    min-width: 500px;
    border-right: solid 1px #1a1a1a;
}

.containerr{
    max-width:1200px;
    margin: 0 auto;
}
